<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd Jump "
   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance Jump "
   autoReload="true"
   throwConfigExceptions="true">

  <!-- the targets to write to -->
  <targets>
    <target xsi:type="File"
      name="file-log"
      archiveEvery="Day"
      archiveFileName = "IgnitorAPI_{########}.log"
      archiveNumbering = "Date"
      archiveDateFormat = "yyyyMMdd"
      maxArchiveFiles = "7"
      fileName="IgnitorAPI.log"
      layout="${longdate}|${level:uppercase=true}|${logger}|${message}" />
  </targets>

  <!-- rules to map from logger name to target -->
  <rules>
    <!--All logs, including from Microsoft-->
    <logger name="*" minlevel="Info" writeTo="file-log" />

    <!--Skip Microsoft logs and so log only own logs-->
    <logger name="Microsoft.*" minlevel="Info" final="true" /> <!-- Blackhole without writeTo -->
    <logger name="*" minlevel="Info" writeTo="file-log" />
  </rules>
</nlog>
